doctype html
html
  head
    title Danceing Pro
    block scripts
    block style 
  body
    nav#navbar 
               div#navimage
                   img(src="../static/logo.png", alt="")
               p HDC
               ul#ultag 
                   li #[a(href='/') Home]
                   li #[a(href='/') About]
                   li #[a(href='/contact' target="_blank") Contact]
                   li #[a(href='/') Services]
    block content
    footer#footer
        | Copyright &copy 2021 Aditya's Dance Academy | All rights reserved