extends base.pug

block style 
    style 
        include ../static/index.css
        include ../static/contact.css


block content 
    section.form 
        h1 Contact us 
        form(action="contact" method="post") 
            input(type="text" name ="name" placeholder="Enter Your Name")
            input(type="text" name ="age" placeholder="Enter Your Age")
            input(type="text" name ="address" placeholder="Enter Your Address")
            input(type="text" name ="phonenumber" placeholder="Enter Your phone number")
            input(type="text" name ="otp" placeholder="Enter Your OTP")
            button Submit

