html 
    head 
        title this is title 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        style 
            include ../static/index.css
    body 
        nav#navbar 
            div#navimage
                img(src="../static/logo.png", alt="")
            p HDC
            ul#ultag 
                li #[a(href='/') Home]
                li #[a(href='/') About]
                li #[a(href='/') Contact]
                li #[a(href='/') Services]
        
    section#firstsection 
        h3 Welcome to Aditya's Dance Academy 
        h2 Learn to Dance
    
    section#missionsection

        div#headingmissiondiv
            h2 Our Mission

        div#missionsectionmaindiv
            div.cards
                div.cardsincards
                    | Hip Hop
                div.cardsinnercards
                    img(src="../static/card1.png", alt="")
                    p This is the best dance website in the world.


            div.cards
                div.cardsincards
                    | Ladies Dance
                div.cardsinnercards
                    img(src="../static/card2.png", alt="")
                    p This is the best dance website in the world.


            div.cards
                div.cardsincards
                    | Kathak
                div.cardsinnercards
                    img(src="../static/card3.png", alt="")
                    p This is the best dance website in the world.
    
    section#secondsection 
        div#secondsectionh3
            h3 Our Sponsors
        
        div#secondsectionmaindiv
            img(src="../static/logo1.png", alt="")
            img(src="../static/logo2.png", alt="")
            img(src="../static/logo3.png", alt="")
            img(src="../static/logo4.png", alt="")
    

    footer#footer
        | Copyright &copy 2021 Aditya's Dance Academy | All rights reserved
